<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.calender"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.sun.calender.MainActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sun.calender.AddReminder" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity android:name="com.sun.calender.ReminderView" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity android:name="com.sun.calender.Setting" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity android:name="com.sun.calender.DayView" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        
        
        <activity android:name="com.sun.calender.WeekView" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        <activity android:name="com.sun.calender.MonthView" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.sun.calender.SingleReminder" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.EMBED" />
            </intent-filter>
        </activity>
        
            <service android:singleUser="true"
            android:name="com.sun.reminderservice.ReminderService" 
            android:enabled="true"
            android:process=":my_process">
            
   
        </service>
        <receiver 
            android:name="com.sun.calender.ReminderBroadcastReceiver"
            android:enabled="true">
          
        </receiver>
        <receiver android:name="com.sun.calender.BootTimeAlarmReciever"
            android:enabled="true">
              <intent-filter>
      <action android:name="android.intent.action.BOOT_COMPLETED">
      <category android:name="android.intent.category.DEFAULT"/> 
      </action>
            </intent-filter>
            
        </receiver>
    </application>

</manifest>